*{
    margin: 0;
    padding: 0;
}
body{
     background-color: #7BB288;
}
header{
    background-color: #2A6B1F; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.princ{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.prin{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.produto{   
    background-color: #2A6B1F;
    color:black;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
}

div{
    padding: 30px;
}

@media screen and (min-width: 1024px){
  .prin{  
        display: grid;
        grid-template-columns: 50% 50%;
    }

}

@media screen and (min-width: 1728px){
    .prin{
        grid-template-columns: 25% 25% 25% 25%;
    }
}

*{
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #7BB288;
    color:antiquewhite;
    padding: 12px;
    position:relative;
}

ul li{
    list-style: none;
}

.texto{
    color:antiquewhite;
}

.lista{
    display:none;
    position: absolute;
    top: 77%;
    background-color: #2A6B1F;
    width: 45%;
    padding: 20px 0;
    text-align: center;
    left: 0;
}

.caixa:checked ~ .lista{
    display:block;
}

#menu{
    display:none;
}

.lista-item{
    padding: 12px 0;
}
a{
    color: white;
    text-decoration: none;
}


@media screen and (min-width: 1024px){
    .lista{
        display:none;
        position: absolute;
        top: 77%;
        background-color: #2A6B1F;
        width: 40%;
        padding: 20px 0;
        text-align: center;
        left: 0;
    }
    .lista-item:hover{
        background-color: antiquewhite;
    }
}