*{
    margin: 0;
    padding: 0;
}

body{
     background-color: #7BB288;
}
header{
    background-color: #2A6B1F; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.prin{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.produto{   
    background-color: #2A6B1F;
    color:black;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
}

div{
    padding: 30px;
}

@media screen and (min-width: 1024px){
  .prin{  
        display: grid;
        grid-template-columns: 50% 50%;
    }

}

@media screen and (min-width: 1728px){
    .prin{
        grid-template-columns: 25% 25% 25% 25%;
    }
}